/*General*/
* {
	margin: 0;
	padding:0;
}

html, body {
	height: 100%
}

.navlinks {
	font-size: 12px;
}

.navlinks a {
	padding-right: 2px;
	border-right: 2px solid black;
}

.navlinks a:first-child {
	padding-left: 2px;
	border-left: 2px solid black;
}
	
/*Header Bar with Nav*/

nav {
	width: 100%;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background-color: blanchedalmond;
	font-family: Oswald
}

nav h1 {
	font-size: 16px;
}

nav h2 {
	font-size: 14px;
}

.faq {
	font-size: 14px;
}

.logotop {
	height: 70px;
	width: 70px;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: pink;
}

/*Desktop Picture with links*/

.desktop {
	width: 100%;
	margin-top: 150px;
}

.sidepic {
	width: 100%;
	height: 100%;
	position: relative;
}

.motherboard, .cpu, .ram, .gpu, .hdd, .powersupply {
	position: absolute;
	opacity: .5;
}
.motherboard {
	top: 35%;
	left: 10%;
	height: 41%;
	width: 38%;
	background-color: lightgoldenrodyellow;
	z-index: 10;
}

.cpu, .ram, .gpu, .hdd, .powersupply {
	z-index: 15;
}

.cpu {
	top: 44.5%;
	left: 24%;
	height: 12%;
	width: 14.5%;
	background-color: blue;
}
	
.ram {
	top: 40%;
	left: 40%;
	height: 20%;
	width: 5%;
	background-color: red;
}

.gpu {
	top: 60%;
	left: 10%;
	height: 8%;
	width: 45%;
	background-color: green;
}

.hdd {
	top: 60%;
	left: 66%;
	height: 4%;
	width: 16%;
	background-color: purple;
}

.powersupply {
	top: 82%;
	left: 7.5%;
	height: 13%;
	width: 30%;
	background-color: pink;
}

/*Footer*/

.footer {
	width: 100%;
	height: 70px;
	background-color: blanchedalmond;
}

.externallinks {
	display: inline-block;
	margin-left: 60px;
	padding-top: 7px;
}

.logobot {
	height: 50px;
	width: 50px;
	position: relative;
	top: 10px;
	left: 10px;
	display: inline-block;
	float: left;
	background-color: pink;
}

.navlinksbot {
	float: right;
	margin-top: 15px;
	margin-right: 25px;
}

.credcopy {
	position: absolute;
	right: 25px;
	margin-top: 35px;
}
