/*General*/
* {
	margin: 0;
	padding:0;
}

html, body {
	height: 100%;
	background: url(img/graphpaper.jpg);
	background-attachment: fixed;
	font-family: Open sans;
}

.navlinks {
	font-size: 12px;
}

.navlinks a {
	padding-right: 2px;
	border-right: 2px solid black;
}

.navlinks a:first-child {
	padding-left: 2px;
	border-left: 2px solid black;
}

a {
	text-decoration: none;
	transition: color .3s;
}

a:visited {
	color: blue;
}

a:hover {
	color: #FFB700;
}

	
/*Header Bar with Nav*/

nav {
	width: 100%;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background: url(graphpaperbentcorners.jpg);
	border-bottom: 5px solid gray;
}

nav h1 {
	font-size: 24px;
	position: absolute;
	top: 15px;
	left: 120px;
}

nav h2 {
	font-size: 14px;
	position: absolute;
	top: 50px;
	left: 120px;
}

nav h3 .faq {
	position: absolute;
	top: 23px;
	right: 64px;

}

nav h3 .navlinks {
	position: absolute;
	top: 50px;
	right: 60px;

}
.faq {
	font-size: 16px;
}

.logotop {
	height: 70px;
	width: 70px;
	position: absolute;
	top: 20px;
	left: 20px;
	background: url(img/logo.png) no-repeat;
	background-size: 100% 80%;
}

/*Desktop Picture with links*/

.desktop {
	width: 100%;
	margin-top: 150px;
	margin-bottom: 50px;
}

.sidepic {
	width: 100%;
	height: 100%;
	position: relative;
}

.motherboard, .cpu, .ram, .gpu, .hdd, .powersupply {
	position: absolute;
	opacity: .5;
}
.motherboard {
	top: 35%;
	left: 10%;
	height: 41%;
	width: 38%;
	background-color: lightgoldenrodyellow;
	z-index: 10;
}

.cpu, .ram, .gpu, .hdd, .powersupply {
	z-index: 15;
}

.cpu {
	top: 44.5%;
	left: 24%;
	height: 12%;
	width: 14.5%;
	background-color: blue;
}
	
.ram {
	top: 40%;
	left: 40%;
	height: 20%;
	width: 5%;
	background-color: red;
}

.gpu {
	top: 60%;
	left: 10%;
	height: 8%;
	width: 45%;
	background-color: green;
}

.hdd {
	top: 60%;
	left: 66%;
	height: 4%;
	width: 16%;
	background-color: purple;
}

.powersupply {
	top: 82%;
	left: 7.5%;
	height: 13%;
	width: 30%;
	background-color: pink;
}

/*Footer*/

.footer {
	width: 100%;
	height: 70px;
	border-top: 4px solid gray;
	padding-top: 10px;
}

.footer h2 {
	font-size: 14px;
}

.externallinks {
	display: inline-block;
	margin-left: 60px;
	padding-top: 7px;
}

.logobot {
	height: 50px;
	width: 50px;
	position: relative;
	top: 10px;
	left: 10px;
	display: inline-block;
	float: left;
	background-color: pink;
}

.navlinksbot {
	float: right;
	margin-top: 15px;
	margin-right: 25px;
}

.credcopy {
	position: relative;
	bottom: 20px;
	right: -30px;
}
