/*General*/
* {
	margin: 0;
	padding:0;
}

html, body {
	height: 100%;
	background: url(img/graphpaper.jpg);
	background-attachment: fixed;
	font-family: Open sans;
}

.navlinks {
	font-size: 12px;
}

.navlinks a {
	padding-right: 2px;
	border-right: 2px solid black;
}

.navlinks a:first-child {
	padding-left: 2px;
	border-left: 2px solid black;
}

a {
	text-decoration: none;
	transition: color .3s;
	transition: text-shadow .3s;
}

a:visited {
	color: blue;
}

a:hover {
	color: #FFB700;
	text-shadow: 1px 2px 2px black;
}

	
/*Header Bar with Nav*/

nav {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	margin-top: 10px;
	background: url(graphpaperbentcorners.jpg);
	border-bottom: 5px solid gray;
}

.faq {
	font-size: 16px;
}

.logotop {
	height: 70px;
	width: 70px;
	position: absolute;
	top: 23px;
	left: 20px;
	background: url(img/logo.png) no-repeat;
	background-size: 98% 65%;
}

/*Desktop Picture with links*/

.desktop {
	width: 100%;
	margin-top: 150px;
	margin-bottom: 50px;
	position: relative;
}

.sidepic {
	width: 100%;
	height: 100%;
	position: relative;
}

.motherboard-box, .cpu-box, .ram-box, .gpu-box, .hdd-box, .powersupply-box {
	position: absolute;
	opacity: .5;
}
.motherboard-box {
	top: 15%;
	left: 8%;
	height: 54%;
	width: 41%;
	background-color: lightgoldenrodyellow;
	z-index: 10;
}

.cpu-box, .ram-box, .gpu-box, .hdd-box, .powersupply-box {
	z-index: 15;
}

.cpu-box {
	top: 24%;
	left: 24%;
	height: 17%;
	width: 15%;
	background-color: blue;
}
	
.ram-box {
	top: 21%;
	left: 40%;
	height: 23%;
	width: 5%;
	background-color: red;
}

.gpu-box {
	top: 46%;
	left: 8%;
	height: 11%;
	width: 45%;
	background-color: green;
}

.hdd-box {
	top: 45%;
	left: 65%;
	height: 6%;
	width: 18%;
	background-color: purple;
}

.powersupply-box {
	top: 75%;
	left: 7.5%;
	height: 18%;
	width: 30%;
	background-color: pink;
}

/*Footer*/

.footer {
	width: 100%;
	height: 70px;
	border-top: 4px solid gray;
	padding-top: 10px;
	position: relative;
}

.footer h2 {
	font-size: 14px;
}

.externallinks {
	display: inline-block;
	margin-left: 100px;
	padding-top: 7px;
}

.logobot {
	height: 70px;
	width: 70px;
	position: absolute;
	bottom: -15px;
	left: 20px;
	background: url(img/logo.png) no-repeat;
	background-size: 98% 65%;
}

.navlinksbot {
	float: right;
	margin-top: 15px;
	margin-right: 25px;
}

.credcopy {
	position: relative;
	bottom: 20px;
	right: -30px;
}

/*Responsive Design*/

@media screen and (max-width: 1025px) {
	nav {
		height: 120px;
	}

	.faq {
		width: 290px;
		height: 21px;
	}
	
	.faq a {
		position: absolute;
		top: 50px;
		right: 0px;
	}

}
@media screen and (min-width: 510px) {
	
	nav h1 {
		font-size: 28px;
		position: absolute;
		top: 15px;
		left: 120px;
	}

	nav h2 {
		font-size: 14px;
		position: absolute;
		top: 50px;
		left: 120px;
	}

	nav h3 .faq {
		position: absolute;
		top: 23px;
		right: 44px;

	}

	nav h3 .navlinks {
	position: absolute;
	top: 95px;
	right: 40px;
	}
}

@media screen and (max-width: 510px) {
	.logotop {
		display: none;
	}

	nav {
		text-align: center;
	}

	nav h1 {
		font-size: 24px;
		margin: 0 auto;
		position: relative;
	}

	nav h2 {
		font-size: 10px;
	}
}

@media screen and (max-width: 395px) {
	.faq {
		margin: 0 auto;
	}
}